<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../StyleSheet/Style.css" rel="StyleSheet" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <ul class="RowColumn BorderBottom">
        <li>
          <a href="#" class="FontColor1 Bold2">FANTASMA </a><a>| Collective</a>
        </li>
        <li class="Right ColorChangeonHover"><a class="FontColor1 Bold1" href="#Home">Home</a></li>
        <li class="ColorChangeonHover"><a class="Bold1 FontColor1" href="#About">About Us</a></li>
        <li class="ColorChangeonHover"><a class="Bold1 FontColor1" href="#Review">Leave a Review</a></li>
        <li class="ColorChangeonHover"><a class="Bold1 FontColor1" href="#More">More</a></li>
      </ul>
    </div>

    <div class="PaddingHorizontal">
      <ul class="RowColumn">
        <li><h1>The Collective</h1></li>
        <li class="Right Center FitContent">
          <a class="Border FontColor2 Bold2">Download</a>
        </li>
      </ul>
    </div>
<div class="PaddingHorizontal Sticky">
      <ul class="RowColumn BorderBottom">
        <li class="ColorChangeonHover"><a href="#Artists"class="Bold1">Our Artists</a></li>
        <li class="ColorChangeonHover"><a href="#Partners"class="Bold1">Partnerships</a></li>
        <li class="ColorChangeonHover"><a href="#About" class="Bold1">About</a></li>
        <li class="ColorChangeonHover"><a class="Bold1">License</a></li>
        <li class="ColorChangeonHover"><a class="Bold1">Pairings</a></li>
      </ul>
    </div>
<div id="Artists">
    <div class="BorderBottom PaddingHeadLine PaddingVertical RowColumn SpacedEvenly">
        <div class="Center">
            <iframe width="480" height="385" src="https://www.youtube.com/embed/8GGGliIxpgc"> </iframe>
        </div>


        <div class="Column PaddingHorizontal">
            <h2 class="Right">Daniel Caesar<h2>
                <p>With a captivating and intimate approach to songwriting, Canadian R&B singer/songwriter Daniel Caesar broke through in 2017 with several collaborative singles from his debut album Freudian. Duets with peers like H.E.R. and Kali Uchis were streamed hundreds of millions of times, and even brought Caesar Juno awards, multiple Grammy nominations in 2018, and a win at the next year's Grammys for Best R&B Performance.<br><br>

                    Born Ashton Simmonds in Toronto in 1995, Canadian rapper/singer/songwriter Daniel Caesar launched his musical career in 2015, slowly releasing tracks online, ranging in style from acoustic pop fare to soul songs bathed in ambient electronics</p>
        </div>   
    </div>
    
      <div class="BorderBottom PaddingHorizontal PaddingVertical RowColumn SpacedEvenly">
            <div class="Center">
                <iframe width="420" height="345" src="https://www.youtube.com/embed/T-QGBuGcGSY"> </iframe>
            </div>


            <div class="Column PaddingHorizontal">
                <h2 class="Right">GreenTea Peng<h2>
                    <p>23-year-old Greentea Peng (real name Aria) was born and bred in Bermondsey, South East London before her family moved to Hastings when she was an early teen. ‘SENSI’ is her debut EP produced in its entirety by the production team Earbuds (frequent slowthai collaborators behind his breakout tune ‘T N Biscuits’).<br><br>

                        For those that don’t hail from the United Kingdom, ‘Peng’ is slang for super attractive or super delicious. And the reason for the greentea part is that “I have a great relationship with green tea” says Aria. ”One time in Peru I found one called ‘greentea seng’. I was super high and I swapped the S for a P and there we have it. Also green is my favourite colour. Trees are green. And weed is green.”</p>
            </div>   
    </div>

    
        <div class="BorderBottom PaddingHorizontal PaddingVertical RowColumn SpacedEvenly">
              <div class="Center">
                  <iframe width="420" height="345" src="https://www.youtube.com/embed/GOFiGClu0uk"> </iframe>
              </div>
  
  
              <div class="Column PaddingHorizontal">
                  <h2 class="Right">Mahalia<h2>
                      <p>Mahalia is an alt-R&B/soul artist who counts Erykah Badu and Lauryn Hill among her biggest influences. The singer and songwriter made her recorded debut in her early teens, by which point she had already attracted major-label interest. She went on to sign with the Asylum label, where she has issued the albums Diary of Me (2016) and the considerably more individualistic Love and Compromise (2019), the latter of which peaked within the Top 30 of the album chart in her native U.K. Mahalia has also issued a handful of EPs including Isolation Tapes (2020).<br><br>
                    
                    A native of Leicestershire, Mahalia Burkmar is the daughter of musicians -- her mother was in Colourbox circa the 4AD group's 1982 debut, and her father toured with Erasure -- and started writing songs and playing the guitar as a preteen. 
                    </p>
              </div>   
        </div>   
        <div class="BorderBottom PaddingHorizontal PaddingVertical RowColumn SpacedEvenly">
              <div class="Center">
                  <iframe width="420" height="345" src="https://www.youtube.com/embed/0nplzEY0IXA"> </iframe>
              </div>
  
  
              <div class="Column PaddingHorizontal">
                  <h2 class="Right">Eliza<h2>
                      <p>“I was 17 when I got signed and swooped up into the industry side of things. It was really fun and exciting, you know; we were hustling, we were doing this pop thing. But, I always found myself coming head to head with them, and feeling like I wasn’t being true to myself in one way or another. In the end it wasn’t for me, I’m too controlling, and I want to be able to make music the way I want to do it.” <br><br>
                        
                    Eliza’s story is relatively unique, and rather interesting. Having made a name for herself in 2010 under the moniker ‘Eliza Doolittle’ with radio-friendly hits such as “Pack Up”, she made the decision to eschew what had become a significant and successful project in favour of a new name and, importantly, a new sound.
                    </p>
              </div>   
        </div>
    </div>

    <div id="Partners">
        <div class="BorderBottom PaddingHorizontal PaddingVertical Column">
            <h1>PartnerShips & Our Sponsors</h1>

            <div class="RowColumn SpacedBetween Grid">
                <div class="RowColumn ConditionalBorderBottom Center">
                    <img class="PartnerImgConditionalSizing"  src="../Partners/JLPartners.png">
                    <span class="PaddingHorizontal" >
                        <h2>2013 - 2014 <h2>
                        <p>We partnered with John Lewis in the fight to ensure music is as diverse as possible and their are no barriers to entry.<p>
                    <span>
                </div>
                <div class="RowColumn ConditionalBorderBottom Center">
                    <img class="PartnerImgConditionalSizing"  src="../Partners/hmvPartners.png">
                    <span class="PaddingHorizontal" >
                        <h2>2015 - 2016 <h2>
                        <p>We partnered with HMV to fight for musicians to prevent Government deductions in annual salary .<p>
                    <span>
                </div>
                <div class="RowColumn ConditionalBorderBottom Center">
                    <img class="PartnerImgConditionalSizing"  src="../Partners/ColorsStudio.jpg">
                    <span class="PaddingHorizontal" >
                        <h2>2017 - Present <h2>
                        <p>Now globally known, we invested in COLORS x STUDIO and frequently work together to host live shows around the world .<p>
                    <span>
                </div>
                <div class="RowColumn Center PaddingVertical">
                    <img class="PartnerImgConditionalSizing"  src="../Partners/Tescos.jpg">
                    <span class="PaddingHorizontal" >
                        <h2>2019 - Present <h2>
                        <p>We don't believe that the lowest of income earning families should have to worry about their next meal & neither did tescos, .<p>
                    <span>
                </div>
            </div>
           
                

        </div>
    </div>

    <div id="About">
        <div class="BorderBottom PaddingHorizontal PaddingVertical Column">
            <h1>Colors x Studios</h1>
            <p>COLORS is a unique aesthetic music platform showcasing exceptional talent from all around the globe, focused on promoting the most distinctive new artists and original sounds. In the context of an increasingly fragmented and saturated scene we seek to provide clarity and calm, offering a minimalistic stage to shine a spotlight on the artists and give them the opportunity to present their music without distraction.
                <br><br>
                It is also our responsibility to ensure that the culturally diverse space we build together remains safe and inclusive for all. Therefore, we commit to listening to diverse perspectives, educating ourselves, and incorporating accountability mechanisms into our work. Understanding our agency and wider social responsibility is an ongoing and evolving process, with the aim of building a space that embraces plurality and equity.
                
                <br><br> 
                COLORS strives to be an empowering place that positively impacts our audience and mutually uplifts all of the artists featured through their collective association. Accordingly, we recognise our responsibility as curators of the voices and messages shared on the platform.
            </p>
            <p class="TextRight Bold1 "> ~ All COLORS, no genres.</p>
            


        </h1>
    </div>
    

    <div class="">
      <ul class="RowColumn BorderTop">
        <li>
          <a href="#" class="FontColor2 Bold1">F</a>
        </li>
        <li>
          <a href="#" class="FontColor2 Bold1">Terms</a>
        </li>
        <li>
          <a href="https://policies.google.com/privacy?hl=en-US" target="_blank" class="FontColor2 Bold1">Privacy</a>
        </li>
        <li class="Right">
          <a class="FontColor2 Bold1" href="#Home">Twitter</a>
        </li>
        <li><a class="Bold1 FontColor2" href="#More">GitHub</a></li>
      </ul>
    </div>
  </body>
</html>
